.notificationsDropdownOuter {
  position: absolute;
  right: 0;
  padding: 8px;
}

.notificationsDropdownInner {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
}

.header {
  font-size: 3em;
  font-weight: bold;
}

.actionsBar {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 16px;
}

.notificationsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
}