.notificationsDropdownOuter {
  position: absolute;
  right: 0;
  padding: 8px;
  width: 100vw;
  max-width: 600px;
}

.notificationsDropdownInner {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.header {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 16px;
  display: flex;

}

.actionsBar {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 16px;
}

.notificationsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  max-height: min(700px, 100vh - 250px);
  overflow: auto;
}

.emptyState {
  background-color: #dedeea;
  border-radius: 8px;
  color: #656c72;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  font-size: 1em;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-weight: bold;
  border: none;

  --button-height: 40px;
  height: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
}

.button_primary {
  border: 1px solid #2c2e2f;
}

.button_secondary {
  background-color: #e3e8ec;
}

.button_text {
  color: #235cce;
  font-size: 0.85em;
}