.notificationsNavItem {
  position: relative;
  height: 100%;
}

.notificationsDropdownTrigger {
  display: grid;
  place-content: center;
  place-items: start end;
  padding: 0 16px;
  height: 100%;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #ebebf1;
  }

  > * {
    grid-area: 1 / 1;
  }
}

.bellIcon {
  padding: 8px;
  width: 100%;
  height: 100%;

  > svg {
    width: 100%;
    height: 100%;
  }
}
